html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}


body{
    background-image: url("../Images/business.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
}


.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.website-title{
    color: white;
    text-align: center;
}

.content-container{
    background-color: white;
    border: solid 3px;
    width: 500px;
    height: 500px;
    text-align: center;
}

.wlc-container{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: black;
    text-align: center;
    margin-top: 0;
    height: 50px;
}


.footer{
    text-align: center;
    color: white;
}

.footer a{
    color: white;
    font-size: 20px;
}

.form-container{
    background-color: white;
    border: solid 3px;
    width: 450px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%; 
}

label {
    font-size: 20px;
    width: 120px; 
    text-align: left;
}

.input {
    height: 30px;
    width: 250px; 
}


.form-group-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 100px;
    margin-left: 100px;
}

.guides{
    text-decoration: none;
}



